<div>
  Latitude: <input type="text" name="{{ widget.name }}-latitude"
                   {% if disabled %}disabled{% endif %}
                   class="location_input" id="location_latitude" value="{{ latitude }}"/>
  Longitude:  <input type="text" name="{{ widget.name }}-longitude"
                     {% if disabled %}disabled{% endif %}
                     class="location_input" id="location_longitude" value="{{ longitude }}"/>
</div>
<br />

<div id="map"{% if disabled %} class="disabled"{% endif %}></div>


